---
layout: post
---

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

{% if page.image %}  
<div class=card>
    <img src="{{ page.image | relative_url }}" alt="Image">
    <div>
        {% if page.artist %}
            {% include photo-credit.html artist=page.artist %}
        {% endif %}
    </div>
</div>

<br>

{% endif %}

{{ content }}

<div style="display: flex; justify-content: space-between; margin-top: 20px;">
    {% if page.previous.url %}
        <a href="{{ page.previous.url | relative_url }}" style="text-decoration: none; padding: 10px 20px; border-radius: 5px; text-align: center;">
            &larr; {{ page.previous.title }}
        </a>
    {% endif %}

    {% if page.next.url %}
        <a href="{{ page.next.url | relative_url }}" style="text-decoration: none; padding: 10px 20px; border-radius: 5px; text-align: center;">
            {{ page.next.title }} &rarr;
        </a>
    {% endif %}
</div>